In [1]:
import json
import numpy as np
import pandas as pd
import time

In [2]:
def from_jsonl_to_df(path):
    t_start = time.time()
    with open(path, 'r') as json_file:
        json_list = list(json_file)
    json_list = [json.loads(json_str) for json_str in json_list]
    df = pd.DataFrame.from_dict(json_list, orient='columns')
    
    print("DataFrame of {}".format(len(df))+" rows loaded in {:.2f} sec".format(time.time()-t_start))
    return df

def from_csv_to_df(path):
    t_start=time.time()
    if "followers" in path:
        df=pd.read_csv(path, names=["follower", "person followed", "timestamp"], header=None)
    else:
        df=pd.read_csv(path)
    print("DataFrame of {}".format(len(df))+" rows loaded in {:.2f} sec".format(time.time()-t_start))
    return df

In [3]:
df_keaks = from_jsonl_to_df("data/full/keaks.jsonl")

DataFrame of 274472 rows loaded in 5.21 sec

In [11]:
df_users =from_jsonl_to_df("data/full/users.jsonl")

DataFrame of 1162572 rows loaded in 33.08 sec

In [31]:
df_audiences = from_csv_to_df("data/full/audiences.csv")

DataFrame of 28952275 rows loaded in 32.43 sec

# preparation dataset

In [33]:
df_keaks.columns

Index(['keakId', 'createdAt', 'likeCount', 'commentCount', 'viewCount',
       'averageViewProgress', 'duration', 'hashtags', 'contentType',
       'hasSmallThumbnail', 'link', 'beatId', 'beatGenres'],
      dtype='object')

In [34]:
df_users_filtered = df_users.loc[df_users.sessionCount > 100,'userId']
df_keaks_filtered = df_keaks.loc[df_keaks.viewCount > 300,'keakId']
df_audiences['userId'] = df_audiences.userId.str[6:]

In [40]:
len(df_audiences)

28952275

In [41]:
dataset = df_audiences[df_audiences.userId.isin(df_users_filtered)]
dataset = dataset[dataset.userId.str.isnumeric()]
len(dataset)

15816501

In [42]:
dataset = dataset[dataset.contentId.str.startswith('keaks/')]
dataset['contentId'] = dataset.contentId.str[6:]

In [50]:
dataset = dataset[dataset.contentId.isin(df_keaks_filtered)]

In [54]:
dataset['userId_float']=dataset['userId'].astype('float')

/tmp/ipykernel_457/2036099706.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['userId_float']=dataset['userId'].astype('float')

In [56]:
dataset['contentId_float']=dataset['contentId'].astype('float')

/tmp/ipykernel_457/580284295.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['contentId_float']=dataset['contentId'].astype('float')

In [58]:
dataset

,userId,contentId,timestamp,progress,liked,commented,shared,userId_float,contentId_float
15,89964254,17301813623703245849,2020-01-01T00:00:27.5855735,0,True,False,False,8.996425e+07,1.730181e+19
16,17301813623510725018,17301813623692602333,2020-01-01T00:00:31.8108756,0,False,False,False,1.730181e+19,1.730181e+19
19,17301813623542265754,17301813622904268148,2020-01-01T00:00:34.0563874,0,False,False,False,1.730181e+19,1.730181e+19
27,17301813621999302890,17301813623678748279,2020-01-01T00:00:53.8744904,0,False,False,False,1.730181e+19,1.730181e+19
57,5857229166,17301813623705765013,2020-01-01T00:01:53.5960251,0,True,True,True,5.857229e+09,1.730181e+19
...,...,...,...,...,...,...,...,...,...
28952255,17301813629487711641,17301813626637661392,2022-02-09T09:20:27.7158182,100,False,False,False,1.730181e+19,1.730181e+19
28952264,17301813624530994731,10563443112,2022-02-09T09:20:44.9335613,0,False,False,False,1.730181e+19,1.056344e+10
28952265,17301813629487711641,17301813628946757093,2022-02-09T09:20:48.8339588,100,False,False,False,1.730181e+19,1.730181e+19
28952266,17301813629487711641,17301813626938593807,2022-02-09T09:21:07.1449812,25,False,False,False,1.730181e+19,1.730181e+19
28952271,17301813622441019504,11770037098,2022-02-09T09:21:52.7335623,0,False,False,False,1.730181e+19,1.177004e+10

In [59]:

import json
import numpy as np
import pandas as pd
import time

def from_jsonl_to_df(path):
    t_start = time.time()
    with open(path, 'r') as json_file:
        json_list = list(json_file)
    json_list = [json.loads(json_str) for json_str in json_list]
    df = pd.DataFrame.from_dict(json_list, orient='columns')
    
    print("DataFrame of {}".format(len(df))+" rows loaded in {:.2f} sec".format(time.time()-t_start))
    return df

def from_csv_to_df(path):
    t_start=time.time()
    if "followers" in path:
        df=pd.read_csv(path, names=["follower", "person followed", "timestamp"], header=None)
    else:
        df=pd.read_csv(path)
    print("DataFrame of {}".format(len(df))+" rows loaded in {:.2f} sec".format(time.time()-t_start))
    return df

df_keaks = from_jsonl_to_df("data/full/keaks.jsonl")
df_users =from_jsonl_to_df("data/full/users.jsonl")
df_audiences = from_csv_to_df("data/full/audiences.csv")

df_users_filtered = df_users.loc[df_users.sessionCount > 100,'userId']
df_keaks_filtered = df_keaks.loc[df_keaks.viewCount > 300,'keakId']
df_audiences['userId'] = df_audiences.userId.str[6:]

dataset = df_audiences[df_audiences.userId.isin(df_users_filtered)]
dataset = dataset[dataset.userId.str.isnumeric()]

dataset = dataset[dataset.contentId.str.startswith('keaks/')]
dataset['contentId'] = dataset.contentId.str[6:]

dataset = dataset[dataset.contentId.isin(df_keaks_filtered)]
dataset['userId_float']=dataset['userId'].astype('float')
dataset['contentId_float']=dataset['contentId'].astype('float')

DataFrame of 274472 rows loaded in 5.26 sec
DataFrame of 1162572 rows loaded in 32.21 sec
DataFrame of 28952275 rows loaded in 30.71 sec

In [60]:
dataset

,userId,contentId,timestamp,progress,liked,commented,shared,userId_float,contentId_float
15,89964254,17301813623703245849,2020-01-01T00:00:27.5855735,0,True,False,False,8.996425e+07,1.730181e+19
16,17301813623510725018,17301813623692602333,2020-01-01T00:00:31.8108756,0,False,False,False,1.730181e+19,1.730181e+19
19,17301813623542265754,17301813622904268148,2020-01-01T00:00:34.0563874,0,False,False,False,1.730181e+19,1.730181e+19
27,17301813621999302890,17301813623678748279,2020-01-01T00:00:53.8744904,0,False,False,False,1.730181e+19,1.730181e+19
57,5857229166,17301813623705765013,2020-01-01T00:01:53.5960251,0,True,True,True,5.857229e+09,1.730181e+19
...,...,...,...,...,...,...,...,...,...
28952255,17301813629487711641,17301813626637661392,2022-02-09T09:20:27.7158182,100,False,False,False,1.730181e+19,1.730181e+19
28952264,17301813624530994731,10563443112,2022-02-09T09:20:44.9335613,0,False,False,False,1.730181e+19,1.056344e+10
28952265,17301813629487711641,17301813628946757093,2022-02-09T09:20:48.8339588,100,False,False,False,1.730181e+19,1.730181e+19
28952266,17301813629487711641,17301813626938593807,2022-02-09T09:21:07.1449812,25,False,False,False,1.730181e+19,1.730181e+19
28952271,17301813622441019504,11770037098,2022-02-09T09:21:52.7335623,0,False,False,False,1.730181e+19,1.177004e+10

In [84]:
df_users_filtered2 = df_users.loc[df_users.sessionCount > 5000,'userId']
test = dataset[dataset.userId.isin(df_users_filtered2)]
print('#lignes ', len(test))
print('#users ', len(test.userId.unique()))

#lignes  1524248
#users  204

In [85]:
len(dataset)

7237868

In [ ]:
dataset[dataset.progress !=0].groupby(['userId','contentId']).max()