In [1]:
import json
import numpy as np
import pandas as pd
import time

In [2]:
from ipynb.fs.full.ArangoDB_connection import get_user_info as gu, get_audience_info as ga, get_engagement_info as ge, get_social_graph_info as gsg, get_most_watched_video as gmwv

2
[{'id': '17301813627868798088', 'createdAt': '2021-04-27T14:29:55.7851529Z', 'lastConnectionDate': '2022-02-09T09:34:27.1083572Z', 'usedGenres': [{'genreId': '12468689066', 'count': 2}, {'genreId': '17301813621692872888', 'count': 31}, {'genreId': '17301813621692872889', 'count': 3}, {'genreId': '17301813621692872891', 'count': 3}, {'genreId': '17301813621692872893', 'count': 1}, {'genreId': '17301813621692872894', 'count': 9}, {'genreId': '17301813621692872896', 'count': 2}, {'genreId': '17301813623043473093', 'count': 60}, {'genreId': '9920897514', 'count': 7}, {'genreId': '9920897516', 'count': 3}, {'genreId': '9920897517', 'count': 16}, {'genreId': '9920897519', 'count': 17}, {'genreId': '9920897520', 'count': 2}, {'genreId': '9920897521', 'count': 2}, {'genreId': '9920897522', 'count': 5}, {'genreId': '9920897523', 'count': 4}, {'genreId': '9920897524', 'count': 2}, {'genreId': '9920897525', 'count': 8}, {'genreId': '9920897526', 'count': 2}, {'genreId': '9920897527', 'count': 2}, {'genreId': '9920897528', 'count': 7}, {'genreId': '9920897529', 'count': 2}, {'genreId': '9920897532', 'count': 12}, {'genreId': '9920897534', 'count': 5}, {'genreId': '9920897535', 'count': 11}, {'genreId': '9920897536', 'count': 4}, {'genreId': '9920897537', 'count': 2}, {'genreId': '9920897543', 'count': 129}, {'genreId': '9920897544', 'count': 1}, {'genreId': '9920897545', 'count': 1}, {'genreId': '9920897546', 'count': 1}], 'preferredGenres': [], 'stats': {'battleCreatedCount': 0, 'battleLostCount': 0, 'battleRespondedCount': 0, 'battleWonCount': 0, 'beatCategoryCount': 0, 'beatCount': 0, 'beatListenedCount': 8541, 'commentCount': 7199, 'followerCount': 540, 'followingCount': 463, 'friendCount': 453, 'keakCount': 568, 'keakrCoinGiven': 50, 'keakrCoinReceived': 190, 'lastImportedVideoUploadedAt': '2022-02-07T10:58:39.8383449Z', 'likeCount': 2862, 'likeGivenCount': 11972, 'mutualFollowCount': 454, 'overallBeatUsage': 0, 'playlistCount': 2, 'prizeMoneyParticipationCount': 0, 'prizeMoneyWinner': False, 'sessionCount': 9780, 'shareCount': 6290, 'viewCount': 21726}, 'isBeatmaker': False, 'isSinger': True}]
85834
100
{'id': 'keaks/17301813623064450175', 'createdAt': '2019-10-10T21:20:59.2970322Z', 'media': 'https://cdn.keakr.com/media/hls/6678b82d-c7c1-4958-9505-247160a7aeac/master.m3u8', 'likeCount': 4, 'commentCount': 2, 'viewCount': 42, 'averageProgress': '7.80', 'genres': [{'genreId': '9920897543', 'name': 'Trap'}]}
20 12
10

In [17]:
def from_jsonl_to_df(path):
    t_start = time.time()
    with open(path, 'r') as json_file:
        json_list = list(json_file)
    json_list = [json.loads(json_str) for json_str in json_list]
    df = pd.DataFrame.from_dict(json_list, orient='columns')
    
    print("DataFrame of {}".format(len(df))+" rows loaded in {:.2f} sec".format(time.time()-t_start))
    return df

def from_csv_to_df(path):
    t_start=time.time()
    if "followers" in path:
        df=pd.read_csv(path, names=["follower", "person followed", "timestamp"], header=None)
    else:
        df=pd.read_csv(path)
    print("DataFrame of {}".format(len(df))+" rows loaded in {:.2f} sec".format(time.time()-t_start))
    return df

In [18]:
df_keaks = from_jsonl_to_df("data/full/keaks.jsonl")

DataFrame of 274472 rows loaded in 5.05 sec

In [19]:
df_beats =from_jsonl_to_df("data/full/beats.jsonl")

DataFrame of 59761 rows loaded in 2.96 sec

In [20]:
df_users =from_jsonl_to_df("data/full/users.jsonl")

DataFrame of 1162572 rows loaded in 33.41 sec

In [21]:
df_followers = from_csv_to_df("data/full/followers.csv")

DataFrame of 10506442 rows loaded in 11.41 sec

In [22]:
df_audiences = from_csv_to_df("data/full/audiences.csv")

DataFrame of 28952275 rows loaded in 38.02 sec

In [9]:
df_keaks.head(2)

,keakId,createdAt,likeCount,commentCount,viewCount,averageViewProgress,duration,hashtags,contentType,hasSmallThumbnail,link,beatId,beatGenres
0,17301813623064450175,2019-10-10T21:20:59.2970322Z,4,2,42,7.80,107.0,"[91, 1, Rap, Pen, freestyle2019, Trap2K19]",freestyle,True,https://www.keakr.com/fr/keak/mon-mec-rap-1,17301813622843862243,"[{'id': '9920897543', 'name': 'Trap'}]"
1,6202649352,2018-04-02T15:06:34.9851924Z,2,2,53,0.00,68.0,[],freestyle,True,https://www.keakr.com/fr/keak/petit-salaire,None,None

In [10]:
df_audiences.head(2)

,userId,contentId,timestamp,progress,liked,commented,shared
0,users/6512051967,keaks/17301813623657913783,2020-01-01T00:00:00.4081666,0,True,True,True
1,users/17301813623701852659,keaks/17301813623464753700,2020-01-01T00:00:00.8245932,0,False,False,False

In [11]:
df_followers.head(2)

,follower,person followed,timestamp
0,users/17301813624860662494,users/17301813625195354624,2020-06-13T16:53:19.7077441Z
1,users/11928492392,users/12680019689,2019-04-11T22:23:51.9010202Z

In [12]:
df_beats.head(2)

,beatId,genres,moods,nbKeaks,nbLikes,beatmakerId,duration,bpm,createdAt,updatedAt,link,licenceType
0,17301813628927249101,"[{'id': '9920897543', 'name': 'Trap'}]","[{'id': '17301813622132424287', 'name': 'Dark'...",7,4,17301813625134492069,121.0,102.0,2021-09-20T18:16:47.1420645Z,2021-09-20T18:17:00.2684235Z,https://keakr.com/fr/beat/turquoiz,[free]
1,17301813627622625982,"[{'id': '9920897543', 'name': 'Trap'}]",[],1,5,17301813627622569830,163.0,125.0,2021-03-31T15:20:10.726762Z,2021-03-31T15:20:26.5760601Z,https://keakr.com/fr/beat/moula-i,[free]

In [13]:
df_users.head(2)

,userId,createdAt,lastConnection,usedGenres,listenedGenres,battleCreatedCount,battleLostCount,battleRespondedCount,battleWonCount,friendCount,...,mutualFollowCount,overallBeatUsage,PlaylistCount,prizeMoneyParticipationCount,prizeMoneyWinner,sessionCount,shareCount,viewCount,isBeatmaker,isSinger
0,12354401148,2019-03-02T10:23:33.0903001Z,2019-03-02T10:23:44.3283191Z,[],[],0,0,0,0,0,...,0.0,0.0,NaN,0,False,2.0,NaN,0,False,False
1,12354411487,2019-03-02T10:26:23.9016307Z,2020-09-24T06:16:46.8631984Z,[],[],0,0,0,0,0,...,NaN,0.0,NaN,0,False,8.0,NaN,0,False,False

In [14]:
list(df_users.columns)

['userId',
 'createdAt',
 'lastConnection',
 'usedGenres',
 'listenedGenres',
 'battleCreatedCount',
 'battleLostCount',
 'battleRespondedCount',
 'battleWonCount',
 'friendCount',
 'keakCount',
 'keakrCoinGiven',
 'keakCoinReceived',
 'likeCount',
 'likeGivenCount',
 'mutualFollowCount',
 'overallBeatUsage',
 'PlaylistCount',
 'prizeMoneyParticipationCount',
 'prizeMoneyWinner',
 'sessionCount',
 'shareCount',
 'viewCount',
 'isBeatmaker',
 'isSinger']

In [10]:
df_keaks.head(2)

,keakId,createdAt,likeCount,commentCount,viewCount,averageViewProgress,duration,hashtags,contentType,hasSmallThumbnail,lien
0,17301813623064450175,2019-10-10T21:20:59.2970322Z,4,2,42,7.80,107.0,"[91, 1, Rap, Pen, freestyle2019, Trap2K19]",freestyle,True,https://www.keakr.com/fr/keak/mon-mec-rap-1
1,6202649352,2018-04-02T15:06:34.9851924Z,2,2,53,0.00,68.0,[],freestyle,True,https://www.keakr.com/fr/keak/petit-salaire

In [28]:
number_of_keakr = len(df_keaks)
print(number_of_keakr)

keak = df_keaks.loc[0]
print(keak)
embed_keakr(keak)

274472
keakId                                        17301813623064450175
createdAt                             2019-10-10T21:20:59.2970322Z
likeCount                                                        4
commentCount                                                     2
viewCount                                                       42
averageViewProgress                                           7.80
duration                                                     107.0
hashtags                [91, 1, Rap, Pen, freestyle2019, Trap2K19]
contentType                                              freestyle
hasSmallThumbnail                                             True
lien                   https://www.keakr.com/fr/keak/mon-mec-rap-1
Name: 0, dtype: object

[4, 2, 42, '7.80', 107.0, 6, 1]

In [23]:
def embed_keakr(keak):
    embedding = []
    embedding.append(keak["likeCount"])
    embedding.append(keak["commentCount"])
    embedding.append(keak["viewCount"])
    embedding.append(keak["averageViewProgress"])
    embedding.append(keak["duration"])
    embedding.append(len(keak["hashtags"]))
    thumbnail = 1 if keak["hasSmallThumbnail"] is True else 0
    embedding.append(thumbnail)
    
    return embedding

In [33]:
import numpy as np

df_keaks["new_col"] = df_keaks.apply(embed_keakr, axis=1)
x = df_keaks.apply(embed_keakr, axis=1)
y = df_keaks.apply(embed_keakr, axis=1)

fin = [for i in range(len(x)[*x[i], *y[i]]
print(np.array(fin))

['4' '2' '42' '7.80' '107.0' '6' '1' '4' '2' '42' '7.80' '107.0' '6' '1']

In [26]:
df_keaks.head(2)

,keakId,createdAt,likeCount,commentCount,viewCount,averageViewProgress,duration,hashtags,contentType,hasSmallThumbnail,link,beatId,beatGenres,new_col
0,17301813623064450175,2019-10-10T21:20:59.2970322Z,4,2,42,7.80,107.0,"[91, 1, Rap, Pen, freestyle2019, Trap2K19]",freestyle,True,https://www.keakr.com/fr/keak/mon-mec-rap-1,17301813622843862243,"[{'id': '9920897543', 'name': 'Trap'}]","[4, 2, 42, 7.80, 107.0, 6, 1]"
1,6202649352,2018-04-02T15:06:34.9851924Z,2,2,53,0.00,68.0,[],freestyle,True,https://www.keakr.com/fr/keak/petit-salaire,None,None,"[2, 2, 53, 0.00, 68.0, 0, 1]"

In [14]:
df_audiences.head(2)

,userId,contentId,timestamp,progress,liked,commented,shared
0,users/6512051967,keaks/17301813623657913783,2020-01-01T00:00:00.4081666,0,True,True,True
1,users/17301813623701852659,keaks/17301813623464753700,2020-01-01T00:00:00.8245932,0,False,False,False

In [ ]:
def convert df_to_np(df_audiences):
    # loop over the row
        # convert userId into embedding, user_embed = df_users.apply(function1, axis=1).numpy()
        # convert contentId into embedding, keak_embed = df_keaks.apply(function2, axis=1).numpy()
        # concatenate the two embedding, full = np.concatenate(user_embed, keak_embed)
        # convert last four into 0.55*progress + 0.15*comment + 0.2*share + 0.1*like, score = 0.55*df_audiences["progress"] + 0.15*df_audiences["comment"] + 0.2*df_audiences["share"] + 0.1*df_audiance["like"]
    # return x dim [n_samples, embedding_dim], y