In [1]:
import json
import numpy as np
import pandas as pd
import time

In [22]:
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans

In [119]:
# pip install matplotlib

Defaulting to user installation because normal site-packages is not writeable
Collecting matplotlib
  Downloading matplotlib-3.5.1-cp38-cp38-manylinux_2_5_x86_64.manylinux1_x86_64.whl (11.3 MB)
     |████████████████████████████████| 11.3 MB 10.4 MB/s eta 0:00:01
Collecting kiwisolver>=1.0.1
  Downloading kiwisolver-1.4.0-cp38-cp38-manylinux_2_5_x86_64.manylinux1_x86_64.whl (1.2 MB)
     |████████████████████████████████| 1.2 MB 39.7 MB/s eta 0:00:01
Collecting fonttools>=4.22.0
  Downloading fonttools-4.31.2-py3-none-any.whl (899 kB)
     |████████████████████████████████| 899 kB 97.4 MB/s eta 0:00:01
Collecting cycler>=0.10
  Downloading cycler-0.11.0-py3-none-any.whl (6.4 kB)
Requirement already satisfied: python-dateutil>=2.7 in /lab/lib/python3.8/site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: pyparsing>=2.2.1 in /lab/lib/python3.8/site-packages (from matplotlib) (3.0.7)
Collecting pillow>=6.2.0
  Downloading Pillow-9.0.1-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (4.3 MB)
     |████████████████████████████████| 4.3 MB 56.3 MB/s eta 0:00:01
Requirement already satisfied: packaging>=20.0 in /lab/lib/python3.8/site-packages (from matplotlib) (21.3)
Requirement already satisfied: numpy>=1.17 in ./.local/lib/python3.8/site-packages (from matplotlib) (1.22.3)
Requirement already satisfied: six>=1.5 in /lab/lib/python3.8/site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Installing collected packages: pillow, kiwisolver, fonttools, cycler, matplotlib
Successfully installed cycler-0.11.0 fonttools-4.31.2 kiwisolver-1.4.0 matplotlib-3.5.1 pillow-9.0.1
WARNING: You are using pip version 20.3.4; however, version 22.0.4 is available.
You should consider upgrading via the '/lab/bin/python -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [21]:
pip install sklearn

Defaulting to user installation because normal site-packages is not writeable
Collecting sklearn
  Downloading sklearn-0.0.tar.gz (1.1 kB)
Collecting scikit-learn
  Downloading scikit_learn-1.0.2-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (26.7 MB)
     |████████████████████████████████| 26.7 MB 10.0 MB/s eta 0:00:01
Collecting threadpoolctl>=2.0.0
  Downloading threadpoolctl-3.1.0-py3-none-any.whl (14 kB)
Collecting scipy>=1.1.0
  Downloading scipy-1.8.0-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (41.6 MB)
     |████████████████████████████████| 41.6 MB 99.3 MB/s eta 0:00:01
Collecting joblib>=0.11
  Downloading joblib-1.1.0-py2.py3-none-any.whl (306 kB)
     |████████████████████████████████| 306 kB 74.3 MB/s eta 0:00:01
Requirement already satisfied: numpy>=1.14.6 in ./.local/lib/python3.8/site-packages (from scikit-learn->sklearn) (1.22.3)
Building wheels for collected packages: sklearn
  Building wheel for sklearn (setup.py) ... done
  Created wheel for sklearn: filename=sklearn-0.0-py2.py3-none-any.whl size=1316 sha256=f5583c751851aee1fc21f07b0033b0230c5cbcc0bbd4acab1bc7bf2ec386defa
  Stored in directory: /workspace/.cache/pip/wheels/22/0b/40/fd3f795caaa1fb4c6cb738bc1f56100be1e57da95849bfc897
Successfully built sklearn
Installing collected packages: threadpoolctl, scipy, joblib, scikit-learn, sklearn
Successfully installed joblib-1.1.0 scikit-learn-1.0.2 scipy-1.8.0 sklearn-0.0 threadpoolctl-3.1.0
WARNING: You are using pip version 20.3.4; however, version 22.0.4 is available.
You should consider upgrading via the '/lab/bin/python -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [3]:
def from_jsonl_to_df(path):
    t_start = time.time()
    with open(path, 'r') as json_file:
        json_list = list(json_file)
    json_list = [json.loads(json_str) for json_str in json_list]
    df = pd.DataFrame.from_dict(json_list, orient='columns')
    
    print("DataFrame of {}".format(len(df))+" rows loaded in {:.2f} sec".format(time.time()-t_start))
    return df

def from_csv_to_df(path):
    t_start=time.time()
    if "followers" in path:
        df=pd.read_csv(path, names=["follower", "person followed", "timestamp"], header=None)
    else:
        df=pd.read_csv(path)
    print("DataFrame of {}".format(len(df))+" rows loaded in {:.2f} sec".format(time.time()-t_start))
    return df

In [4]:
df_keaks = from_jsonl_to_df("data/full/keaks.jsonl")

DataFrame of 274472 rows loaded in 5.26 sec

In [5]:
df_beats =from_jsonl_to_df("data/full/beats.jsonl")

DataFrame of 59761 rows loaded in 1.34 sec

In [6]:
df_users =from_jsonl_to_df("data/full/users.jsonl")

DataFrame of 1162572 rows loaded in 31.62 sec

In [7]:
df_followers = from_csv_to_df("data/full/followers.csv")

DataFrame of 10506442 rows loaded in 11.57 sec

In [8]:
df_audiences = from_csv_to_df("data/full/audiences.csv")

DataFrame of 28952275 rows loaded in 33.20 sec

In [8]:
df_keaks.head(2)

,keakId,createdAt,likeCount,commentCount,viewCount,averageViewProgress,duration,hashtags,contentType,hasSmallThumbnail,lien
0,17301813623064450175,2019-10-10T21:20:59.2970322Z,4,2,42,7.80,107.0,"[91, 1, Rap, Pen, freestyle2019, Trap2K19]",freestyle,True,https://www.keakr.com/fr/keak/mon-mec-rap-1
1,6202649352,2018-04-02T15:06:34.9851924Z,2,2,53,0.00,68.0,[],freestyle,True,https://www.keakr.com/fr/keak/petit-salaire

In [9]:
df_audiences.head(2)

,userId,contentId,timestamp,progress,liked,commented,shared
0,users/6512051967,keaks/17301813623657913783,2020-01-01T00:00:00.4081666,0,True,True,True
1,users/17301813623701852659,keaks/17301813623464753700,2020-01-01T00:00:00.8245932,0,False,False,False

In [10]:
df_followers.head(2)

,follower,person followed,timestamp
0,users/17301813624860662494,users/17301813625195354624,2020-06-13T16:53:19.7077441Z
1,users/11928492392,users/12680019689,2019-04-11T22:23:51.9010202Z

In [11]:
df_beats.head(2)

,beatId,genres,moods,nbKeaks,nbLikes,beatmakerId,duration,bpm,createdAt,updatedAt,link,licenceType
0,17301813628927249101,"[{'id': '9920897543', 'name': 'Trap'}]","[{'id': '17301813622132424287', 'name': 'Dark'...",7,4,17301813625134492069,121.0,102.0,2021-09-20T18:16:47.1420645Z,2021-09-20T18:17:00.2684235Z,https://keakr.com/fr/beat/turquoiz,[free]
1,17301813627622625982,"[{'id': '9920897543', 'name': 'Trap'}]",[],1,5,17301813627622569830,163.0,125.0,2021-03-31T15:20:10.726762Z,2021-03-31T15:20:26.5760601Z,https://keakr.com/fr/beat/moula-i,[free]

In [12]:
df_users.head(2)

,userId,createdAt,lastConnection,usedGenres,listenedGenres,battleCreatedCount,battleLostCount,battleRespondedCount,battleWonCount,friendCount,...,mutualFollowCount,overallBeatUsage,PlaylistCount,prizeMoneyParticipationCount,prizeMoneyWinner,sessionCount,shareCount,viewCount,isBeatmaker,isSinger
0,12354401148,2019-03-02T10:23:33.0903001Z,2019-03-02T10:23:44.3283191Z,[],[],0,0,0,0,0,...,0.0,0.0,NaN,0,False,2.0,NaN,0,False,False
1,12354411487,2019-03-02T10:26:23.9016307Z,2020-09-24T06:16:46.8631984Z,[],[],0,0,0,0,0,...,NaN,0.0,NaN,0,False,8.0,NaN,0,False,False

In [13]:
list(df_users.columns)

['userId',
 'createdAt',
 'lastConnection',
 'usedGenres',
 'listenedGenres',
 'battleCreatedCount',
 'battleLostCount',
 'battleRespondedCount',
 'battleWonCount',
 'friendCount',
 'keakCount',
 'keakrCoinGiven',
 'keakCoinReceived',
 'likeCount',
 'likeGivenCount',
 'mutualFollowCount',
 'overallBeatUsage',
 'PlaylistCount',
 'prizeMoneyParticipationCount',
 'prizeMoneyWinner',
 'sessionCount',
 'shareCount',
 'viewCount',
 'isBeatmaker',
 'isSinger']

------------------- Exploration users et keaks -------------------------------

In [16]:
df_users_sorted = df_users.sort_values(by=['sessionCount'], ascending=False)
df_users_sorted.head(10)

In [10]:
df_users_actifs=df_users[df_users.sessionCount>100]

In [11]:
df_users_actifs.head(10)

,userId,createdAt,lastConnection,usedGenres,listenedGenres,battleCreatedCount,battleLostCount,battleRespondedCount,battleWonCount,friendCount,...,mutualFollowCount,overallBeatUsage,PlaylistCount,prizeMoneyParticipationCount,prizeMoneyWinner,sessionCount,shareCount,viewCount,isBeatmaker,isSinger
297,12363816925,2019-03-02T22:01:46.1436103Z,2020-10-12T17:16:28.2909928Z,[],"[{'genreId': '9920897523', 'count': 2}, {'genr...",0,0,0,0,1,...,1.0,0.0,NaN,0,False,124.0,NaN,0,False,False
818,12376986680,2019-03-03T22:40:28.2097533Z,2020-08-25T21:32:47.5873596Z,[],"[{'genreId': '9920897519', 'count': 1}]",0,0,0,0,0,...,0.0,0.0,NaN,0,False,227.0,NaN,0,False,False
1303,12393437680,2019-03-04T22:51:19.2260899Z,2020-09-03T10:04:26.8065888Z,[],[],0,0,0,0,0,...,0.0,0.0,NaN,0,False,175.0,NaN,0,False,False
1603,12400530180,2019-03-05T16:17:21.2248241Z,2020-04-26T15:10:46.3281774Z,[],[],0,0,0,0,0,...,0.0,0.0,NaN,0,False,198.0,NaN,0,False,False
1740,12402999372,2019-03-05T20:05:05.7376827Z,2021-02-27T21:07:25.6763251Z,"[{'genreId': '17301813621692872894', 'count': ...","[{'genreId': '9920897543', 'count': 1}, {'genr...",0,0,0,0,0,...,0.0,0.0,NaN,2,False,289.0,NaN,280,False,True
1803,12404786172,2019-03-05T22:56:59.7138537Z,2021-04-21T23:23:57.0519159Z,[],"[{'genreId': '9920897521', 'count': 2}, {'genr...",0,0,0,0,0,...,0.0,0.0,1.0,0,False,185.0,NaN,0,False,False
1989,12409008633,2019-03-06T12:47:27.5990064Z,2020-10-08T21:21:07.2347699Z,[],"[{'genreId': '9920897523', 'count': 1}]",0,0,0,0,0,...,0.0,0.0,NaN,0,False,143.0,NaN,0,False,False
2269,12413336440,2019-03-06T21:07:18.1172516Z,2020-04-11T14:35:58.6164549Z,[],[],0,0,0,0,0,...,NaN,0.0,2.0,0,False,105.0,NaN,0,False,False
2341,12414476427,2019-03-07T00:22:55.3537668Z,2019-07-23T12:36:27.1197075Z,[],"[{'genreId': '9920897543', 'count': 1}]",0,0,0,0,1,...,1.0,0.0,NaN,0,False,130.0,NaN,0,False,False
3034,12435211520,2019-03-08T18:08:13.9332746Z,2019-03-08T18:08:13.9332746Z,[],[],0,0,0,0,0,...,0.0,0.0,NaN,0,False,116.0,NaN,0,False,False

In [12]:
df_users_actifs.shape

(28739, 25)

In [45]:
df_keaks_sorted = df_keaks.sort_values(by=['viewCount'], ascending=False)

In [46]:
df_keaks_sorted.head(10)

,keakId,createdAt,likeCount,commentCount,viewCount,averageViewProgress,duration,hashtags,contentType,hasSmallThumbnail,lien
274378,5662319881,2018-01-13T13:47:49.9354708Z,56230,2852,721530,0.02,71.0,"[02F, 42Gang]",None,True,https://www.keakr.com/fr/keak/bimo-gringo-tch
272705,6270414173,2018-04-18T13:54:31.2827333Z,45680,2567,501276,0.01,89.0,"[KalashCriminel, RAS, RoiDesSauvages, LeCagoul...",None,True,https://www.keakr.com/fr/keak/gang_3_
268909,155152448,2017-08-20T17:26:04.6737766Z,25324,1267,402240,0.01,68.0,"[Danslamatrice, Freestyle4]",None,True,https://www.keakr.com/fr/keak/dans-la-matrice
259638,6102616636,2018-03-09T22:47:51.1857695Z,18666,805,367180,0.02,77.0,"[UnPetitViteFait, RouleLeDoubiCouz, RapprocheT...",freestyle,True,https://www.keakr.com/fr/keak/approchez-appro
271924,5963562997,2018-02-20T19:40:22.4582377Z,18401,855,364747,0.01,119.0,"[TeamH, HeraultShima, Shimasquad]",None,True,https://www.keakr.com/fr/keak/freestyle-xplos
264654,5497001130,2017-11-29T16:20:29.1967188Z,24662,1534,346798,0.01,89.0,"[morgan, lmr]",None,True,https://www.keakr.com/fr/keak/mirada
274000,10661402528,2018-10-12T11:42:38.0984278Z,14747,572,248778,0.02,61.0,"[AfroTrap, afrobeats, me, brz, afro]",freestyle,None,https://www.keakr.com/fr/keak/brz-rumba
266814,6275461496,2018-04-19T14:03:52.8307972Z,14824,690,246017,0.02,95.0,"[917Stg, GloireAu700, EnDirectDlaRue, EssonneG...",freestyle,True,https://www.keakr.com/fr/keak/freestyle-playb
274228,10638873354,2018-10-10T13:45:53.8993011Z,9011,546,242976,0.00,307.0,[],None,True,https://www.keakr.com/fr/keak/sombre
270724,6038081119,2018-02-23T13:31:52.1877928Z,14542,1063,238338,0.01,115.0,[],freestyle,True,https://www.keakr.com/fr/keak/weird

In [13]:
df_keaks_populaires=df_keaks[df_keaks.viewCount>100]

In [14]:
df_keaks_populaires.shape

(61723, 13)

---------------------------  Cleaning du dataframe des utilisateurs et mise en forme -------------------

In [15]:
df_users_temp = df_users_actifs[['userId',
 'battleCreatedCount',
 'battleLostCount',
 'battleRespondedCount',
 'battleWonCount',
 'friendCount',
 'keakCount',
 'keakrCoinGiven',
 'keakCoinReceived',
 'likeCount',
 'likeGivenCount',
 'mutualFollowCount',
 'overallBeatUsage',
 'PlaylistCount',
 'prizeMoneyParticipationCount',
 'prizeMoneyWinner',
 'sessionCount',
 'shareCount',
 'viewCount',
 'isBeatmaker',
 'isSinger']]

In [16]:
def printColumnInfo(df):
    template="%-8s %-30s %s"
    print(template % ("Type", "Column Name", "Example Value"))
    print("-"*53)
    for c in df.columns:
        print(template % (df[c].dtype, c, df[c].iloc[1]) )

In [17]:
printColumnInfo(df_users_temp)

Type     Column Name                    Example Value
-----------------------------------------------------
object   userId                         12376986680
int64    battleCreatedCount             0
int64    battleLostCount                0
int64    battleRespondedCount           0
int64    battleWonCount                 0
int64    friendCount                    0
int64    keakCount                      0
float64  keakrCoinGiven                 nan
object   keakCoinReceived               None
int64    likeCount                      0
float64  likeGivenCount                 4.0
float64  mutualFollowCount              0.0
float64  overallBeatUsage               0.0
float64  PlaylistCount                  nan
int64    prizeMoneyParticipationCount   0
bool     prizeMoneyWinner               False
float64  sessionCount                   227.0
float64  shareCount                     nan
int64    viewCount                      0
bool     isBeatmaker                    False
bool     isSinger                       False

In [18]:
df_users_actifs_norm = ( df_users_temp
                        .set_index('userId')
                        .fillna(0)
                        .replace({False: 0, True: 1})
                        .apply(lambda x: x/x.max(), axis=0)
                        .fillna(0)
                       )

In [19]:
printColumnInfo(df_users_actifs_norm)

Type     Column Name                    Example Value
-----------------------------------------------------
float64  battleCreatedCount             0.0
float64  battleLostCount                0.0
float64  battleRespondedCount           0.0
float64  battleWonCount                 0.0
float64  friendCount                    0.0
float64  keakCount                      0.0
float64  keakrCoinGiven                 0.0
float64  keakCoinReceived               0.0
float64  likeCount                      0.0
float64  likeGivenCount                 8.919413102617847e-05
float64  mutualFollowCount              0.0
float64  overallBeatUsage               0.0
float64  PlaylistCount                  0.0
float64  prizeMoneyParticipationCount   0.0
float64  prizeMoneyWinner               0.0
float64  sessionCount                   0.003935165120915316
float64  shareCount                     0.0
float64  viewCount                      0.0
float64  isBeatmaker                    0.0
float64  isSinger                       0.0

In [28]:
df_users_actifs_norm.head(10)

,battleCreatedCount,battleLostCount,battleRespondedCount,battleWonCount,friendCount,keakCount,keakrCoinGiven,keakCoinReceived,likeCount,likeGivenCount,mutualFollowCount,overallBeatUsage,PlaylistCount,prizeMoneyParticipationCount,prizeMoneyWinner,sessionCount,shareCount,viewCount,isBeatmaker,isSinger
userId,,,,,,,,,,,,,,,,,,,,
12363816925,0.0,0.0,0.0,0.0,0.000058,0.00000,0.0,0.0,0.000000,0.000089,0.000026,0.0,0.000000,0.000000,0.0,0.002150,0.0,0.000000,0.0,0.0
12376986680,0.0,0.0,0.0,0.0,0.000000,0.00000,0.0,0.0,0.000000,0.000089,0.000000,0.0,0.000000,0.000000,0.0,0.003935,0.0,0.000000,0.0,0.0
12393437680,0.0,0.0,0.0,0.0,0.000000,0.00000,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.003034,0.0,0.000000,0.0,0.0
12400530180,0.0,0.0,0.0,0.0,0.000000,0.00000,0.0,0.0,0.000000,0.000379,0.000000,0.0,0.000000,0.000000,0.0,0.003432,0.0,0.000000,0.0,0.0
12402999372,0.0,0.0,0.0,0.0,0.000000,0.00269,0.0,0.0,0.000319,0.000067,0.000000,0.0,0.000000,0.153846,0.0,0.005010,0.0,0.000249,0.0,1.0
12404786172,0.0,0.0,0.0,0.0,0.000000,0.00000,0.0,0.0,0.000000,0.000022,0.000000,0.0,0.001597,0.000000,0.0,0.003207,0.0,0.000000,0.0,0.0
12409008633,0.0,0.0,0.0,0.0,0.000000,0.00000,0.0,0.0,0.000000,0.000178,0.000000,0.0,0.000000,0.000000,0.0,0.002479,0.0,0.000000,0.0,0.0
12413336440,0.0,0.0,0.0,0.0,0.000000,0.00000,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.003195,0.000000,0.0,0.001820,0.0,0.000000,0.0,0.0
12414476427,0.0,0.0,0.0,0.0,0.000058,0.00000,0.0,0.0,0.000000,0.000045,0.000026,0.0,0.000000,0.000000,0.0,0.002254,0.0,0.000000,0.0,0.0
12435211520,0.0,0.0,0.0,0.0,0.000000,0.00000,0.0,0.0,0.000000,0.000045,0.000000,0.0,0.000000,0.000000,0.0,0.002011,0.0,0.000000,0.0,0.0

---------------------- Version fonction------------------------

In [ ]:
arg_list = ['userId',
 'battleCreatedCount',
 'battleLostCount',
 'battleRespondedCount',
 'battleWonCount',
 'friendCount',
 'keakCount',
 'keakrCoinGiven',
 'keakCoinReceived',
 'likeCount',
 'likeGivenCount',
 'mutualFollowCount',
 'overallBeatUsage',
 'PlaylistCount',
 'prizeMoneyParticipationCount',
 'prizeMoneyWinner',
 'sessionCount',
 'shareCount',
 'viewCount',
 'isBeatmaker',
 'isSinger']

def df_user_embbed(df_user, arg_list):
     return (df_user[arg_list].set_index('userId')
                        .fillna(0)
                        .replace({False: 0, True: 1})
                        .apply(lambda x: x/x.max(), axis=0)
                        .fillna(0)
            )

------------------- CLustering sur les users -----------------------

In [24]:
model = KMeans(3).fit(df_users_actifs_norm)

In [25]:
print(model.cluster_centers_)

[[ 5.67709495e-04  3.12990410e-04  2.88342778e-04  6.70907803e-04
   8.35420439e-04  1.05818132e-16  1.97651296e-04  0.00000000e+00
   5.17275527e-06  7.62587463e-04  5.76390808e-04  9.95446826e-05
   1.79886549e-03  1.17363021e-04  3.90312782e-17  4.85156019e-03
   3.01805868e-05  3.61999668e-06  1.36002321e-15  1.53210777e-14]
 [ 2.61767861e-03  2.01255409e-03  1.60481037e-03  3.31849138e-03
   3.57800798e-03  6.34974746e-03  1.84426030e-04  0.00000000e+00
   2.03087842e-03  2.38702878e-03  2.15551300e-03  2.16945268e-05
   2.17600526e-03  1.05898733e-02  1.58449631e-03  8.60490705e-03
   4.30808599e-04  2.71832025e-03 -3.81639165e-15  1.00000000e+00]
 [ 1.72538379e-03  1.56246037e-03  1.19557176e-03  2.34325460e-03
   2.79611100e-03  4.35010846e-03  5.70870303e-04  0.00000000e+00
   2.86385175e-03  3.29368559e-03  1.78190440e-03  8.88551341e-03
   1.98034445e-03  1.04872933e-02  1.26823082e-03  9.35299067e-03
   6.72941285e-04  1.34434451e-03  1.00000000e+00  4.11540900e-01]]