In [15]:
import json
import numpy as np
import pandas as pd
import time
# import matplotlib.pyplot as plt

ModuleNotFoundError: No module named 'matplotlib'

In [3]:
def from_jsonl_to_df(path):
    t_start = time.time()
    with open(path, 'r') as json_file:
        json_list = list(json_file)
    json_list = [json.loads(json_str) for json_str in json_list]
    df = pd.DataFrame.from_dict(json_list, orient='columns')
    
    print("DataFrame of {}".format(len(df))+" rows loaded in {:.2f} sec".format(time.time()-t_start))
    return df

def from_csv_to_df(path):
    t_start=time.time()
    if "followers" in path:
        df=pd.read_csv(path, names=["follower", "person followed", "timestamp"], header=None)
    else:
        df=pd.read_csv(path)
    print("DataFrame of {}".format(len(df))+" rows loaded in {:.2f} sec".format(time.time()-t_start))
    return df

In [4]:
df_keaks = from_jsonl_to_df("data/full/keaks.jsonl")

DataFrame of 274472 rows loaded in 5.06 sec

In [5]:
df_beats =from_jsonl_to_df("data/full/beats.jsonl")

DataFrame of 59761 rows loaded in 1.24 sec

In [6]:
df_users =from_jsonl_to_df("data/full/users.jsonl")

DataFrame of 1162572 rows loaded in 31.73 sec

In [7]:
df_followers = from_csv_to_df("data/full/followers.csv")

DataFrame of 10506442 rows loaded in 12.01 sec

In [8]:
df_audiences = from_csv_to_df("data/full/audiences.csv")

DataFrame of 28952275 rows loaded in 40.72 sec

In [9]:
df_keaks.head(2)

,keakId,createdAt,likeCount,commentCount,viewCount,averageViewProgress,duration,hashtags,contentType,hasSmallThumbnail,link,beatId,beatGenres
0,17301813623064450175,2019-10-10T21:20:59.2970322Z,4,2,42,7.80,107.0,"[91, 1, Rap, Pen, freestyle2019, Trap2K19]",freestyle,True,https://www.keakr.com/fr/keak/mon-mec-rap-1,17301813622843862243,"[{'id': '9920897543', 'name': 'Trap'}]"
1,6202649352,2018-04-02T15:06:34.9851924Z,2,2,53,0.00,68.0,[],freestyle,True,https://www.keakr.com/fr/keak/petit-salaire,None,None

In [11]:
df_keaks['viewCount'][:10000].value_counts(dropna=False, orderby=)

0      1206
12      197
17      188
20      185
16      180
       ...
544       1
492       1
227       1
856       1
414       1
Name: viewCount, Length: 567, dtype: int64

In [28]:
df_keaks.loc[df_keaks['viewCount']>300]

,keakId,createdAt,likeCount,commentCount,viewCount,averageViewProgress,duration,hashtags,contentType,hasSmallThumbnail,link,beatId,beatGenres
94,5428803277,2017-11-10T17:00:48.0964423Z,19,5,2024,0.06,130.0,"[ElSaguaro, lasuitearrive, 2018]",None,True,https://www.keakr.com/fr/keak/roumzi-mise-en-,79562287,"[{'id': '9920897519', 'name': 'Boom bap'}]"
159,11106004705,2018-11-15T15:22:06.6262046Z,2,1,445,0.00,205.0,[],freestyle,True,https://www.keakr.com/fr/keak/babylone-arme,None,None
200,11827860685,2019-01-24T10:11:55.9812162Z,20,18,356,0,88.0,[],freestyle,True,https://www.keakr.com/fr/keak/avide-d-ambitio,None,None
217,5744516132,2018-01-28T15:11:21.1988801Z,7,4,434,0.00,84.0,[freestyle],None,True,https://www.keakr.com/fr/keak/-freestyle-du-d,None,None
221,6290231358,2018-04-25T20:58:24.1581867Z,5,2,362,0,125.0,[],freestyle,True,https://www.keakr.com/fr/keak/bacardi,6096270366,"[{'id': '9920897543', 'name': 'Trap'}]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
274453,17301813628946757093,2021-09-24T05:31:55.3098249Z,82,15,3981,15.43,31.0,[],importedVideo,True,https://www.keakr.com/fr/keak/inspi-du-jour-c,None,None
274454,17301813626938593807,2020-12-15T15:53:30.3573302Z,122,9,3197,11.12,109.0,[4],importedVideo,True,https://www.keakr.com/fr/keak/freestyle-zi2,None,None
274458,11770037098,2019-01-18T04:24:00.6728086Z,158,32,5115,9.19,197.0,[],freestyle,True,https://www.keakr.com/fr/keak/mister-lonley,None,None
274465,17301813629414083058,2021-11-25T17:04:15.8573298Z,72,15,1820,14.82,69.0,"[DEBRIEFLOW, 5]",importedVideo,True,https://www.keakr.com/fr/keak/-debrieflow-5-c,None,None
274466,17301813629259230356,2021-11-03T14:26:14.3422323Z,95,30,2252,15.12,81.0,"[listen, boombap, comment, keakr2021, keakr202...",freestyle,True,https://www.keakr.com/fr/keak/xantana-x-polo-,None,None

In [30]:
df_keaks['viewCount'].describe()

count    274472.000000
mean        224.923165
std        3312.329315
min           0.000000
25%          18.000000
50%          36.000000
75%          88.000000
max      721530.000000
Name: viewCount, dtype: float64

In [31]:
df_keaks.loc[df_keaks['viewCount']>300].describe()

          likeCount  commentCount      viewCount      duration
count  25395.000000  25395.000000   25395.000000  24979.000000
mean      92.532743     24.439614    1917.585588    118.232235
std      678.204388     52.191058   10742.270420     83.955861
min        0.000000      0.000000     301.000000      3.000000
25%       20.000000      7.000000     413.000000     73.000000
50%       33.000000     14.000000     616.000000    109.000000
75%       61.000000     27.000000    1124.000000    155.000000
max    56230.000000   3018.000000  721530.000000   4382.000000

In [17]:
df_keaks['viewCount'][:100].value_counts().plot(kind='bar')

ImportError: matplotlib is required for plotting when the default backend "matplotlib" is selected.

In [12]:
df_audiences.head(2)

,userId,contentId,timestamp,progress,liked,commented,shared
0,users/6512051967,keaks/17301813623657913783,2020-01-01T00:00:00.4081666,0,True,True,True
1,users/17301813623701852659,keaks/17301813623464753700,2020-01-01T00:00:00.8245932,0,False,False,False

In [10]:
df_audiences['progress'].value_counts(dropna=False)

0      26564756
100      846431
25       824195
50       334916
75       293588
         ...
79          848
90          848
94          845
6           845
8           834
Name: progress, Length: 101, dtype: int64

In [21]:
df_audiences['liked'].value_counts(dropna=False)/len(df_audiences)*100

False    79.519713
True     20.480287
Name: liked, dtype: float64

In [13]:
df_audiences['liked'].loc[df_audiences['shared']==True].value_counts(dropna=False)

True     3288175
False    1816951
Name: liked, dtype: int64

In [17]:
1816951/(3288175+1816951)*100

35.59071803516701

In [15]:
df_audiences['liked'].loc[df_audiences['commented']==True].value_counts(dropna=False)

True     3330839
False    1956940
Name: liked, dtype: int64

In [18]:
1956940/(1956940+3330839)*100

37.00873277797729

In [13]:
df_followers.head(2)

,follower,person followed,timestamp
0,users/17301813624860662494,users/17301813625195354624,2020-06-13T16:53:19.7077441Z
1,users/11928492392,users/12680019689,2019-04-11T22:23:51.9010202Z

In [14]:
df_beats.head(2)

,beatId,genres,moods,nbKeaks,nbLikes,beatmakerId,duration,bpm,createdAt,updatedAt,link,licenceType
0,17301813628927249101,"[{'id': '9920897543', 'name': 'Trap'}]","[{'id': '17301813622132424287', 'name': 'Dark'...",7,4,17301813625134492069,121.0,102.0,2021-09-20T18:16:47.1420645Z,2021-09-20T18:17:00.2684235Z,https://keakr.com/fr/beat/turquoiz,[free]
1,17301813627622625982,"[{'id': '9920897543', 'name': 'Trap'}]",[],1,5,17301813627622569830,163.0,125.0,2021-03-31T15:20:10.726762Z,2021-03-31T15:20:26.5760601Z,https://keakr.com/fr/beat/moula-i,[free]

In [15]:
df_users.head(2)

,userId,createdAt,lastConnection,usedGenres,listenedGenres,battleCreatedCount,battleLostCount,battleRespondedCount,battleWonCount,friendCount,...,mutualFollowCount,overallBeatUsage,PlaylistCount,prizeMoneyParticipationCount,prizeMoneyWinner,sessionCount,shareCount,viewCount,isBeatmaker,isSinger
0,12354401148,2019-03-02T10:23:33.0903001Z,2019-03-02T10:23:44.3283191Z,[],[],0,0,0,0,0,...,0.0,0.0,NaN,0,False,2.0,NaN,0,False,False
1,12354411487,2019-03-02T10:26:23.9016307Z,2020-09-24T06:16:46.8631984Z,[],[],0,0,0,0,0,...,NaN,0.0,NaN,0,False,8.0,NaN,0,False,False

In [17]:
list(df_users.columns)

['userId',
 'createdAt',
 'lastConnection',
 'usedGenres',
 'listenedGenres',
 'battleCreatedCount',
 'battleLostCount',
 'battleRespondedCount',
 'battleWonCount',
 'friendCount',
 'keakCount',
 'keakrCoinGiven',
 'keakCoinReceived',
 'likeCount',
 'likeGivenCount',
 'mutualFollowCount',
 'overallBeatUsage',
 'PlaylistCount',
 'prizeMoneyParticipationCount',
 'prizeMoneyWinner',
 'sessionCount',
 'shareCount',
 'viewCount',
 'isBeatmaker',
 'isSinger']