In [10]:
import json
import numpy as np
import pandas as pd
import time

In [4]:
def from_jsonl_to_df(path):
    t_start = time.time()
    with open(path, 'r') as json_file:
        json_list = list(json_file)
    json_list = [json.loads(json_str) for json_str in json_list]
    df = pd.DataFrame.from_dict(json_list, orient='columns')
    
    print("DataFrame of {}".format(len(df))+" rows loaded in {:.2f} sec".format(time.time()-t_start))
    return df

def from_csv_to_df(path):
    t_start=time.time()
    if "followers" in path:
        df=pd.read_csv(path, names=["follower", "person followed", "timestamp"], header=None)
    else:
        df=pd.read_csv(path)
    print("DataFrame of {}".format(len(df))+" rows loaded in {:.2f} sec".format(time.time()-t_start))
    return df

In [5]:
df_keaks = from_jsonl_to_df("data/full/keaks.jsonl")

NameError: name 'time' is not defined

In [6]:
df_beats =from_jsonl_to_df("data/full/beats.jsonl")

NameError: name 'time' is not defined

In [7]:
df_users =from_jsonl_to_df("data/full/users.jsonl")

NameError: name 'time' is not defined

In [15]:
df_followers = from_csv_to_df("data/full/followers.csv")

DataFrame of 10506442 rows loaded in 13.56 sec

In [16]:
df_audiences = from_csv_to_df("data/full/audiences.csv")

DataFrame of 28952275 rows loaded in 36.71 sec

In [17]:
df_keaks.head()

,keakId,createdAt,likeCount,commentCount,viewCount,averageViewProgress,duration,hashtags,contentType,hasSmallThumbnail,link,beatId,beatGenres
0,17301813623064450175,2019-10-10T21:20:59.2970322Z,4,2,42,7.80,107.0,"[91, 1, Rap, Pen, freestyle2019, Trap2K19]",freestyle,True,https://www.keakr.com/fr/keak/mon-mec-rap-1,17301813622843862243,"[{'id': '9920897543', 'name': 'Trap'}]"
1,6202649352,2018-04-02T15:06:34.9851924Z,2,2,53,0.00,68.0,[],freestyle,True,https://www.keakr.com/fr/keak/petit-salaire,None,None
2,17301813626763053961,2020-11-25T03:48:11.7751856Z,0,1,0,None,NaN,[],live,None,https://www.keakr.com/fr/keak/live-1po,None,None
3,11779960378,2019-01-18T21:36:38.7535079Z,1,1,55,0,6.0,[],freestyle,True,https://www.keakr.com/fr/keak/m-s-s,None,None
4,17301813625762381409,2020-07-30T23:37:29.8512735Z,16,2,100,1.04,185.0,[],freestyle,True,https://www.keakr.com/fr/keak/mes-inspiration,17301813625761964386,"[{'id': '9920897519', 'name': 'Boom bap'}, {'i..."

In [18]:
df_keaks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 274472 entries, 0 to 274471
Data columns (total 13 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   keakId               274472 non-null  object
 1   createdAt            274472 non-null  object
 2   likeCount            274472 non-null  int64
 3   commentCount         274472 non-null  int64
 4   viewCount            274472 non-null  int64
 5   averageViewProgress  258064 non-null  object
 6   duration             249517 non-null  float64
 7   hashtags             274472 non-null  object
 8   contentType          258626 non-null  object
 9   hasSmallThumbnail    246256 non-null  object
 10  link                 274472 non-null  object
 11  beatId               146169 non-null  object
 12  beatGenres           146169 non-null  object
dtypes: float64(1), int64(3), object(9)
memory usage: 27.2+ MB

In [19]:
df_keaks.isna().sum()

keakId                      0
createdAt                   0
likeCount                   0
commentCount                0
viewCount                   0
averageViewProgress     16408
duration                24955
hashtags                    0
contentType             15846
hasSmallThumbnail       28216
link                        0
beatId                 128303
beatGenres             128303
dtype: int64

In [33]:
df_keaks.keakId.nunique()

274472

### cleanning data

In [3]:
df_audiences.head(2)

NameError: name 'df_audiences' is not defined

In [ ]:
df_audiences["userID"]=df_audiences["userId"].apply(lambda x:x.split("/")[1])

In [2]:
df_audiences.head()

NameError: name 'df_audiences' is not defined

In [42]:
df_audiences.query("userID=='$keakr'")

,userId,contentId,timestamp,progress,liked,commented,shared,userID
58,users/$keakr,keaks/17301813623692602333,2020-01-01T00:01:54.9206706,0,False,False,False,$keakr
346,users/$keakr,keaks/17301813623391603603,2020-01-01T00:14:38.8136129,0,False,False,False,$keakr
358,users/$keakr,keaks/17301813623668305066,2020-01-01T00:15:14.6137878,0,False,False,False,$keakr
379,users/$keakr,keaks/17301813623696335958,2020-01-01T00:16:23.7456523,0,False,False,False,$keakr
402,users/$keakr,keaks/17301813623413097198,2020-01-01T00:17:09.3018149,0,False,False,False,$keakr
...,...,...,...,...,...,...,...,...
28952235,users/$keakr,keaks/17301813629111852939,2022-02-09T09:15:13.1067119,0,False,False,False,$keakr
28952236,users/$keakr,keaks/17301813627735564540,2022-02-09T09:16:04.4754081,0,False,False,False,$keakr
28952252,users/$keakr,keaks/17301813629006642415,2022-02-09T09:19:05.8812465,0,False,False,False,$keakr
28952263,users/$keakr,keaks/11251947163,2022-02-09T09:20:44.3565552,0,False,False,False,$keakr
28952274,users/$keakr,keaks/17301813629983640630,2022-02-09T09:22:30.6077751,0,False,False,False,$keakr

In [26]:
df_audiences.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28952275 entries, 0 to 28952274
Data columns (total 8 columns):
 #   Column     Dtype
---  ------     -----
 0   userId     object
 1   contentId  object
 2   timestamp  object
 3   progress   int64
 4   liked      bool
 5   commented  bool
 6   shared     bool
 7   userID     object
dtypes: bool(3), int64(1), object(4)
memory usage: 1.2+ GB

In [12]:
df_followers.head(2)

,follower,person followed,timestamp
0,users/17301813624860662494,users/17301813625195354624,2020-06-13T16:53:19.7077441Z
1,users/11928492392,users/12680019689,2019-04-11T22:23:51.9010202Z

In [13]:
df_followers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10506442 entries, 0 to 10506441
Data columns (total 3 columns):
 #   Column           Dtype
---  ------           -----
 0   follower         object
 1   person followed  object
 2   timestamp        object
dtypes: object(3)
memory usage: 240.5+ MB

In [14]:
df_beats.head(2)

,beatId,genres,moods,nbKeaks,nbLikes,beatmakerId,duration,bpm,createdAt,updatedAt,link,licenceType
0,17301813628927249101,"[{'id': '9920897543', 'name': 'Trap'}]","[{'id': '17301813622132424287', 'name': 'Dark'...",7,4,17301813625134492069,121.0,102.0,2021-09-20T18:16:47.1420645Z,2021-09-20T18:17:00.2684235Z,https://keakr.com/fr/beat/turquoiz,[free]
1,17301813627622625982,"[{'id': '9920897543', 'name': 'Trap'}]",[],1,5,17301813627622569830,163.0,125.0,2021-03-31T15:20:10.726762Z,2021-03-31T15:20:26.5760601Z,https://keakr.com/fr/beat/moula-i,[free]

In [15]:
df_beats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59761 entries, 0 to 59760
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   beatId       59761 non-null  object
 1   genres       59761 non-null  object
 2   moods        59761 non-null  object
 3   nbKeaks      59761 non-null  int64
 4   nbLikes      59761 non-null  int64
 5   beatmakerId  59761 non-null  object
 6   duration     59750 non-null  float64
 7   bpm          59741 non-null  float64
 8   createdAt    59761 non-null  object
 9   updatedAt    59761 non-null  object
 10  link         59761 non-null  object
 11  licenceType  59761 non-null  object
dtypes: float64(2), int64(2), object(8)
memory usage: 5.5+ MB

In [16]:
df_users.head(2)

,userId,createdAt,lastConnection,usedGenres,listenedGenres,battleCreatedCount,battleLostCount,battleRespondedCount,battleWonCount,friendCount,...,mutualFollowCount,overallBeatUsage,PlaylistCount,prizeMoneyParticipationCount,prizeMoneyWinner,sessionCount,shareCount,viewCount,isBeatmaker,isSinger
0,12354401148,2019-03-02T10:23:33.0903001Z,2019-03-02T10:23:44.3283191Z,[],[],0,0,0,0,0,...,0.0,0.0,NaN,0,False,2.0,NaN,0,False,False
1,12354411487,2019-03-02T10:26:23.9016307Z,2020-09-24T06:16:46.8631984Z,[],[],0,0,0,0,0,...,NaN,0.0,NaN,0,False,8.0,NaN,0,False,False

In [17]:
df_users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1162572 entries, 0 to 1162571
Data columns (total 25 columns):
 #   Column                        Non-Null Count    Dtype
---  ------                        --------------    -----
 0   userId                        1162572 non-null  object
 1   createdAt                     1162572 non-null  object
 2   lastConnection                1143361 non-null  object
 3   usedGenres                    467942 non-null   object
 4   listenedGenres                1162572 non-null  object
 5   battleCreatedCount            1162572 non-null  int64
 6   battleLostCount               1162572 non-null  int64
 7   battleRespondedCount          1162572 non-null  int64
 8   battleWonCount                1162572 non-null  int64
 9   friendCount                   1162572 non-null  int64
 10  keakCount                     1162572 non-null  int64
 11  keakrCoinGiven                1061 non-null     float64
 12  keakCoinReceived              0 non-null        object
 13  likeCount                     1162572 non-null  int64
 14  likeGivenCount                1159084 non-null  float64
 15  mutualFollowCount             601842 non-null   float64
 16  overallBeatUsage              837691 non-null   float64
 17  PlaylistCount                 346591 non-null   float64
 18  prizeMoneyParticipationCount  1162572 non-null  int64
 19  prizeMoneyWinner              1162572 non-null  bool
 20  sessionCount                  1158520 non-null  float64
 21  shareCount                    29249 non-null    float64
 22  viewCount                     1162572 non-null  int64
 23  isBeatmaker                   1162572 non-null  bool
 24  isSinger                      1162572 non-null  bool
dtypes: bool(3), float64(7), int64(9), object(6)
memory usage: 198.5+ MB

In [17]:
list(df_users.columns)

['userId',
 'createdAt',
 'lastConnection',
 'usedGenres',
 'listenedGenres',
 'battleCreatedCount',
 'battleLostCount',
 'battleRespondedCount',
 'battleWonCount',
 'friendCount',
 'keakCount',
 'keakrCoinGiven',
 'keakCoinReceived',
 'likeCount',
 'likeGivenCount',
 'mutualFollowCount',
 'overallBeatUsage',
 'PlaylistCount',
 'prizeMoneyParticipationCount',
 'prizeMoneyWinner',
 'sessionCount',
 'shareCount',
 'viewCount',
 'isBeatmaker',
 'isSinger']

In [7]:
 conda install -c conda-forge scikit-surprise

Collecting package metadata (current_repodata.json): done
Solving environment: done


==> WARNING: A newer version of conda exists. <==
  current version: 4.10.3
  latest version: 4.12.0

Please update conda by running

    $ conda update -n base -c defaults conda



## Package Plan ##

  environment location: /lab

  added / updated specs:
    - scikit-surprise


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    ca-certificates-2021.10.8  |       ha878542_0         139 KB  conda-forge
    certifi-2021.10.8          |   py38h578d9bd_1         145 KB  conda-forge
    conda-4.12.0               |   py38h578d9bd_0         1.0 MB  conda-forge
    joblib-1.1.0               |     pyhd8ed1ab_0         210 KB  conda-forge
    libblas-3.9.0              |11_linux64_openblas          12 KB  conda-forge
    libcblas-3.9.0             |11_linux64_openblas          11 KB  conda-forge
    libgfortran-ng-11.2.0      |      h69a702a_14          20 KB  conda-forge
    libgfortran5-11.2.0        |      h5c6108e_14         1.7 MB  conda-forge
    liblapack-3.9.0            |11_linux64_openblas          11 KB  conda-forge
    libopenblas-0.3.17         |pthreads_h8fe5266_1         9.2 MB  conda-forge
    numpy-1.20.3               |   py38h9894fe3_1         5.8 MB  conda-forge
    openssl-1.1.1n             |       h7f8727e_0         2.5 MB
    python_abi-3.8             |           2_cp38           4 KB  conda-forge
    scikit-surprise-1.1.1      |   py38hab2c0dc_1         626 KB  conda-forge
    ------------------------------------------------------------
                                           Total:        21.4 MB

The following NEW packages will be INSTALLED:

  joblib             conda-forge/noarch::joblib-1.1.0-pyhd8ed1ab_0
  libblas            conda-forge/linux-64::libblas-3.9.0-11_linux64_openblas
  libcblas           conda-forge/linux-64::libcblas-3.9.0-11_linux64_openblas
  libgfortran-ng     conda-forge/linux-64::libgfortran-ng-11.2.0-h69a702a_14
  libgfortran5       conda-forge/linux-64::libgfortran5-11.2.0-h5c6108e_14
  liblapack          conda-forge/linux-64::liblapack-3.9.0-11_linux64_openblas
  libopenblas        conda-forge/linux-64::libopenblas-0.3.17-pthreads_h8fe5266_1
  numpy              conda-forge/linux-64::numpy-1.20.3-py38h9894fe3_1
  python_abi         conda-forge/linux-64::python_abi-3.8-2_cp38
  scikit-surprise    conda-forge/linux-64::scikit-surprise-1.1.1-py38hab2c0dc_1

The following packages will be UPDATED:

  ca-certificates    pkgs/main::ca-certificates-2021.7.5-h~ --> conda-forge::ca-certificates-2021.10.8-ha878542_0
  certifi            pkgs/main::certifi-2021.5.30-py38h06a~ --> conda-forge::certifi-2021.10.8-py38h578d9bd_1
  conda              pkgs/main::conda-4.10.3-py38h06a4308_0 --> conda-forge::conda-4.12.0-py38h578d9bd_0
  openssl                                 1.1.1k-h27cfd23_0 --> 1.1.1n-h7f8727e_0



Downloading and Extracting Packages
libcblas-3.9.0       | 11 KB     | ##################################### | 100%
certifi-2021.10.8    | 145 KB    | ##################################### | 100%
ca-certificates-2021 | 139 KB    | ##################################### | 100%
libopenblas-0.3.17   | 9.2 MB    | ##################################### | 100%
openssl-1.1.1n       | 2.5 MB    | ##################################### | 100%
libgfortran5-11.2.0  | 1.7 MB    | ##################################### | 100%
liblapack-3.9.0      | 11 KB     | ##################################### | 100%
libgfortran-ng-11.2. | 20 KB     | ##################################### | 100%
python_abi-3.8       | 4 KB      | ##################################### | 100%
joblib-1.1.0         | 210 KB    | ##################################### | 100%
conda-4.12.0         | 1.0 MB    | ##################################### | 100%
libblas-3.9.0        | 12 KB     | ##################################### | 100%
scikit-surprise-1.1. | 626 KB    | ##################################### | 100%
numpy-1.20.3         | 5.8 MB    | ##################################### | 100%
Preparing transaction: done
Verifying transaction: failed

EnvironmentNotWritableError: The current user does not have write permissions to the target environment.
  environment location: /lab
  uid: 42420
  gid: 42420



Note: you may need to restart the kernel to use updated packages.